<% content_for :title do %>
Mole Valley's Birds
<% end %>
<div class="main">
  <h1>Birds<img src="images/birds/Grey_Heron.jpg" alt="Grey Heron" class="floatright"></h1>
  <p>
    With it's tremendous diversity of habitats, one might expect Mole Valley to support a wide variety of different kinds of birds.
    And, indeed so it does. We have heathland, downland, farmland, open grassland, scrub, broad-leaved woodland, coniferous woodland rivers
    and lakes. Each has different birds associated with them. Actually there are two more less-thought-about habitats that are increasingly
    important for birds. One is the M25 corridor which is, in a rather macabre way, a resource of small mammals and roadside casualties
    for birds of prey and scavengers. Personally, I would rather see other ways of supporting birds of prey. So let's move onto the
    second extra habitat. This is something we can all influence in a positive way - Mole Valley's gardens.<br>
    All photographs on this page &copy; Jeremy Early.
  </p>
  <p>
    <img src="images/birds/Wren.jpg" alt="Wren" class="floatleft">
    We can and should take "garden" in a very general sense. It is not just gardens attached to homes that matter. Public gardens,
    grounds around offices, factories, schools, colleges, hospitals, all provide valuable homes and habitats for birds.
    The Wren shown here is a common visitor to gardens, but Mole Valley has such a wonderful pool of bird-life that you should not
    find too much difficulty in encouraging a wide range of visitors and residents into your garden.
  </p>
  <p>
    <img src="images/birds/Grey_Wagtail.jpg" alt="Grey wagtail" class="floatright">
    You should see Pied wagtails in Mole Valley without too much difficulty. They will search for insects in open warm and grassy areas.
    If you look carefully along streams and beside ponds, you may also see Grey wagtails (right). Even a small garden pond may also encourage
    them into the garden - it works for us! Being quite close to a small lake, we have also had visits from Herons (see the photograph at the
    top of this page) and Kingfishers. The banks of the River Mole are also, of course, excellent locations for spotting Kingfishers.
    They are a little shy, but the iridescent blue will suddenly catch your eye if you are lucky. It isn't that unusual to see them from the
    bottom of Bridge Street in Leatherhead - another lesser known but exciting aspect of a town that deserves a lot more respect.
  </p>
  <p>
    <img src="images/birds/Treecreeper.jpg" alt="Tree creeper" class="floatleft">
    What else can you find here? Woodlands can be a real challenge for bird <em>spotters</em>. Bird <em>listeners</em> may have greater
    rewards! Nightingales can be heard at Ashtead and Bookham Commons. You might hear first, and then see a Greater spotted Woodpecker.
    Green Woodpeckers are more easily seen on grassland, feeding on ants. Their call seems to suggest they have an unquenchable
    and outrageous sense of humour. If your eyes are sharp, you may see a Treecreeper working up the side of a tree (as here). They always
    walk <em>up</em> tree trunks.
  </p>
   <p>
    Nuthatches are a little more agile. They can walk up, down and sideways. They used to be frequent visitors to my parents garden
    (facing downwards on the nut basket) until a developer clear the garden-full of trees that backed on to ours. Lost little links that
    were all part of a bigger chain.
    <img src="images/birds/Nuthatch.jpg" alt="Nuthatch" class="floatright">
  </p>
   <p>
    Stonechats, Tree pipits, Woodlarks, Dartford Warblers. All birds of heathland. You will also find Yellowhammers singing for their
    "little bit of bread and no cheese" from the top of gorse on Headley Heath. But they are not just heathland birds, and happily keep
    you company as you walk beside farm hedgerows. Woodlarks on heathland? Indeed yes. Both these and Skylarks are ground nesting birds.
    For us, the Woodlark is the scarcer of the two, but it will nest here if it can find some undisturbed heathland. They will <em>sing</em>
    from perches on trees. The Skylark in contrast sings as it tumbles about in the skies. Mercifully it is still not too difficult to
    hear Skylarks in Mole Valley.
  </p>
  <p>
    <img src="images/birds/Mandarin_Ducks.jpg" alt="Mandarin Ducks" class="floatleft">
    This has only provided a few samples of what can be found here. Kestrels, Sparrowhawks, Peregrine Falcons offer more drama.
    Dip into Jeremy Early's book, <em>Hidden Jewels</em> and you will see there is so much more to know about the birds even just on
    Fetcham Mill Pond and the Mole through Leatherhead. Just for something different we will finish with the exotic Mandarin Duck. But not
    without thanking Jeremy for the wonderful photographs on this page. Indeed, Jeremy is a Hidden Treasure himself...
  </p>
</div>