<% content_for :title do %>
Wild plants in Mole Valley
<% end %>
<div class="main">
  <h1>Flowering Plants</h1>
  <p class="MsoNormal">Box, <i>Buxus sempervirens<o:p></o:p></i></p>
  <p class="MsoNormal">It is an evergreen shrub or small tree that is considered
    native in only a few places in the <st1:place w:st="on">British Isles</st1:place>,
    though it has also been widely planted. The steep chalky slopes around Box Hill
    and <st1:place w:st="on"><st1:placename w:st="on">Norbury</st1:placename> <st1:placetype w:st="on">Park</st1:placetype></st1:place> support some of the best
    populations in this country. Box usually grows with yew and this combination,
    so relatively abundant in <st1:place w:st="on"><st1:placename w:st="on">Mole</st1:placename>
    <st1:placetype w:st="on">Valley</st1:placetype></st1:place>, is one of the
    reasons for classifying part of the area as an SAC. Box has small yellow-green
    flowers that open in early spring and these are followed by hard,
    curiously-shaped fruits.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal">Wild Service Tree <i>Sorbus torminalis<o:p></o:p></i></p>
  <p class="MsoNormal">This is one of our most beautiful native trees. It has cream
    flowers and attractive leaves that turn crimson in autumn. It is a relative of
    the rowan and whitebeam but it fruits are a dull brown, rather than the bright
    red of its more familiar cousins. It can be found in many old woods in <st1:place w:st="on"><st1:placename w:st="on">Mole</st1:placename> <st1:placetype w:st="on">Valley</st1:placetype></st1:place>
    on the weald clay. An alternative name is the Chequers Tree.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal">Green Hound’s-tongue <i>Cynoglossum germanicum<o:p></o:p></i></p>
  <p class="MsoNormal">It is a very rare plant in <st1:country-region w:st="on">Britain</st1:country-region>
    but <st1:place w:st="on"><st1:placename w:st="on">Mole</st1:placename> <st1:placetype w:st="on">Valley</st1:placetype></st1:place> is one of its strongholds. It is
    now classified as critically endangered nationally. This plant is a biennial
    with a rosette of large glossy leaves and small inconspicuous flowers. It is usually
    found in woods on the chalk, where its numbers can vary considerably from one
    year to the next.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal">Wood anemone <i>Anemone nemorosa</i></p>
  <p class="MsoNormal">This lovely woodland flower is common throughout much of <st1:place w:st="on"><st1:placename w:st="on">Mole</st1:placename> <st1:placetype w:st="on">Valley</st1:placetype></st1:place>.
    It favours deciduous woodland but it can also be found on hedge banks and road
    verges. Its relatively large white flowers appear from March to May. Sheets of
    this in flower are an attractive sight, especially when they grow with
    primroses and bluebells.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal">Man Orchid <i>Orchis anthropophora<o:p></o:p></i></p>
  <p class="MsoNormal">Some sixteen species of wild orchid can be found in <st1:place w:st="on"><st1:placename w:st="on">Mole</st1:placename> <st1:placetype w:st="on">Valley</st1:placetype></st1:place>;
    some in the clay woods and others on the chalk downs and woods. The Man Orchid
    is perhaps one of the most intriguing because the shape of its flower resembles
    that of a human body. It is considered nationally endangered, with <st1:country-region w:st="on">Kent</st1:country-region> and <st1:place w:st="on">Surrey</st1:place>
    now having the most important populations.</p>
</div>